{overlay,[{mkdir,"releases/0.1.0"},
          {copy,"./sys.config","releases/0.1.0/sys.config"},
          {copy,"./boot_shim","bin/ggtserver"},
          {copy,"./boot_shim.bat","bin/ggtserver.bat"},
          {copy,"./boot","releases/0.1.0/ggtserver.sh"},
          {copy,"./boot.bat","releases/0.1.0/ggtserver.bat"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/rel/.files/vm.args",
                "releases/0.1.0/vm.args"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/.compile.protocols",
                "lib/ggtserver-0.1.0/consolidated/.compile.protocols"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.Collectable.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.Collectable.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.Enumerable.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.Enumerable.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.IEx.Info.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.Inspect.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.Inspect.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.List.Chars.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.List.Chars.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.Poison.Decoder.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.Poison.Decoder.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.Poison.Encoder.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.Poison.Encoder.beam"},
          {copy,"/Users/kyoko.kadowaki/work/ggtserver/_build/dev/consolidated/Elixir.String.Chars.beam",
                "lib/ggtserver-0.1.0/consolidated/Elixir.String.Chars.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{ggtserver,"0.1.0"},[{ggtserver,"0.1.0"},elixir,iex,sasl]}.

{lib_dirs,["/Users/kyoko.kadowaki/work/ggtserver/_build/dev/lib",
           "/Users/kyoko.kadowaki/work/ggtserver/deps",
           "/usr/local/Cellar/elixir/1.4.1/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.4.1/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.4.1/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.4.1/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.4.1/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.4.1/bin/../lib/mix/ebin"]}.

